:root {
  --primary-color: #f3347d;
  --font-primary: rgb(43, 40, 41);
  --font-secondary: rgb(58, 48, 52);
  --bg-primary: #ffffff;
}

.main-sidebar {
  width: 270px;
  background-color: #fff;
  position: absolute;
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
  height: 100%;
  z-index: 11;
  border-right: 1px solid rgb(229, 234, 239);
}
.sidebar-top {
  padding: 35px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sidebar-top .logo-image {
  padding: 0;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 15px;
}
.sidebar-nav ul {
  list-style-type: none;
  width: 100%;
}
.sidebar-nav .nav-small-cap {
  font-size: 12px;
  padding: 15px 30px 10px 30px;
  font-weight: 500;
  color: var(--font-primary);
  font-size: 14px;
}
.sidebar-nav .sidebar-item {
  font-size: 16px;
  padding: 0;
  width: 100%;
}
.sidebar-nav .sidebar-item .sidebar-link {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  color: var(--font-secondary);
  /* border-left: 4px solid transparent;
  border-right: 4px solid transparent; */
  background-color: transparent;
  margin-bottom: 5px;
  font-size: 14px;
  border-radius: 7px;
}
.sidebar-nav .sidebar-item .sidebar-link .icon {
  margin-right: 15px;
  height: 16px;
  width: 16px;
}

.sidebar-nav .sidebar-item .sidebar-link:hover {
  color: var(--primary-color);
  background-color: #f3347d1c;
}

.sidebar-nav .sidebar-item .sidebar-link.active {
  background-color: var(--primary-color) !important;
  color: white !important;
}

.main-header {
  min-height: 80px;
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-header .header-btns {
  display: flex;
  align-items: center;
}
.main-header .header-btns .icon {
  height: 35px;
  width: 35px;
  margin-inline: 10px;
}
